<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="board.css">
  <title>Document</title>
</head>

<body>

  <div hx-post="/check_turn" hx-trigger="every 200ms"></div>
  <div id="boards">
    <div id="enemy">
      <div hx-post="/enemyInfo" hx-trigger="every 2s">
      </div>
      <div class="board" id="enemy-board"></div>
    </div>
    <h1 hx-post="/timeLeft" hx-trigger="every 1s"></h1>
    <div id="player" >
      <div hx-post="/playerInfo" hx-trigger="every 2s">
      </div>
      <div id="player-board" class="board" hx-post="/player_board" hx-trigger="every 200ms" hx-swap="innerHTML"></div>
    </div>
  </div>
<div id="abandon" hx-post="/abandon" >Abandon game</div>
<div id="shotStat" hx-post="/shotStats" hx-trigger="every 1s">Stats</div>

  <script>
    const PLAYER_BOARD_ID = 'player-board';
    const ENEMY_BOARD_ID = 'enemy-board';

    const playerBoard = document.getElementById(PLAYER_BOARD_ID);
    const enemyBoard = document.getElementById(ENEMY_BOARD_ID);

    function generateBoard(board) {
      [...'ABCDEFGHIJ'].forEach((letter) => {
        const row = document.createElement('div');
        row.classList.add('row');

        board.appendChild(row);

        Array
          .from({ length: 10 }, (_, i) => i + 1)
          .forEach((digit) => {
            const identifier = `${letter}${digit}`;

            const cell = document.createElement('div');
            cell.innerText = identifier;

            if (board.id === ENEMY_BOARD_ID) {
              cell.setAttribute('name', identifier);
              cell.setAttribute('hx-post', '/fire');
            }

            row.appendChild(cell);
          }
        );
      });
    }

    generateBoard(playerBoard);
    generateBoard(enemyBoard);
  </script>

</body>

</html>